<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab<br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

## Table of Content

1. **[Set](#set)**
2. **[Conditional Statements](#cond)**
3. **[Python Flow Control](#flow_control)**

### Let's begin with some hands-on practice exercises

<a id="set"> </a>
## 1. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

In [49]:
num_set = {1, 2, 3, 4, 5, 6}

num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

In [50]:
num_set.remove(3)
num_set

{1, 2, 4, 5, 6, 7}

In [51]:
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

In [61]:
s1 = 'We shall analyse the data using python'

s2 = 'Python for data science'

x1 = set(s1.split())
x2 = set(s2.split())

u1 = len(x1)
u2 = len(x2)
print(u1)
print(u2)
print(x1.intersection(x2))
print(x1.union(x2))

7
4
{'data'}
{'shall', 'for', 'science', 'analyse', 'python', 'Python', 'We', 'using', 'the', 'data'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [52]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}
{3, 5, 6, 7}
{1, 2, 4, 71, 40, 87}
{8, 42, 51, 54}
{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

<a id="cond"> </a>
## 2. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [53]:
num = int(input("Enter the num - "))

if num%7==0: 
    print("Multiple by 7")
else:
    print("Not a multiple of 7")

Enter the num - 67
Not a multiple of 7

In [54]:
num = int(input("Enter the num - "))

if num%7==0: 
    print("Multiple by 7")
else:
    print("Not a multiple of 7")

Enter the num - 49
Multiple by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [55]:
num1 = int(input("Enter the num1 - "))
num2 = int(input("Enter the num2 - "))

if num1>num2: 
    print("num1 is greater")
else:
    print("num2 is greater")

Enter the num1 - 2
Enter the num2 - 5
num2 is greater

In [57]:
num1 = int(input("Enter the num1 - "))
num2 = int(input("Enter the num2 - "))

if num1>num2: 
    print("num1 is greater")
else:
    print("num2 is greater")

Enter the num1 - 6
Enter the num2 - 2
num1 is greater

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [58]:
num = int(input("Enter the num - "))

if num==0:
    print("Zero")
elif num>0:
    print("Positive")
elif num<0:
    print("Negative")
else:
    print("Done Checking")

Enter the num - 4
Positive

In [59]:
num = int(input("Enter the num - "))

if num==0:
    print("Zero")
elif num>0:
    print("Positive")
elif num<0:
    print("Negative")
else:
    print("Done Checking")

Enter the num - -3
Negative

In [60]:
num = int(input("Enter the num - "))

if num==0:
    print("Zero")
elif num>0:
    print("Positive")
elif num<0:
    print("Negative")
else:
    print("Done Checking")

Enter the num - 0
Zero

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
a = 0
b = 1
count = 0
print(a)
print(b)

while count < 10:
    c=a+b
    print(c)
    a = b
    b = c
    count += 1

0
1
1
2
3
5
8
13
21
34
55
89

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
num = int(input("Enter the number - "))

f = 1
if num<0:
    print("Factorial does not exist as negative num")
elif num==0:
    print(1)
else:    
    for i in range(1,5):
        f = f*i
    print(f)

Enter the number - 1
24

In [3]:
num = int(input("Enter the number - "))

f = 1
if num<0:
    print("Factorial does not exist as negative num")
elif num==0:
    print(1)
else:    
    for i in range(1,5):
        f = f*i
    print(f)

Enter the number - -3
Factorial does not exist as negative num

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [66]:
num1 = int(input("Enter the number -"))
num2 = int(input("Enter the number -"))

Factor_1 = []
Factor_2 = []

for i in range(1,num1):
     if num1%i==0:
        Factor_1.append(i)
for j in range(1,num2):
    if num2%j==0:
        Factor_2.append(j)
if num1==sum(Factor_2) and num2==sum(Factor_1):
    print("Amicable")
else:
    print("Not Amicable")

Enter the number -220
Enter the number -284
Amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [75]:
str = input("Enter the String - ")

reverse = ""
for char in str[::-1]:
    reverse += char

print("Reverse string = ", reverse)

Enter the String - Dinesh kumar
Reverse string =  ramuk hseniD

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [80]:
num = int(input("Enter the number - "))

total_sum = 0
for i in range(num):
    c = int(input("Enter the input - "))
    total_sum += c
avr = total_sum/num
print("Average = ", avr)

Enter the number - 5
Enter the input - 34
Enter the input - 24
Enter the input - 65
Enter the input - 35
Enter the input - 2
Average =  32.0